{% extends 'base.html' %}
{% block body %}
<div class="header">
    <p class="headerInput">Book from goodreads</p>
</div>
<div>
    <div class="readLayerInput">
        <table class="readLayerTable">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Number of Pages</th>
                <th>Goodreads Rating</th>
                <th>Rating Count</th>
                <th>Review Count</th>
            </tr>
            {% for book in data %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.description|default_if_none:"" }}</td>
                <td>{{ book.author|default_if_none:"" }}</td>
                <td>{{ book.page|default_if_none:"" }}</td>
                <td>{{ book.rating|default_if_none:""  }}</td>
                <td>{{ book.rating_count|default_if_none:"" }}</td>
                <td>{{ book.review_count|default_if_none:"" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <button class="open-button" onclick="openForm()">Add a Book</button>
    <div class="form-popup" id="myForm">
        <form class="form-container" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Render</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
</div>
{% endblock %}